In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
    .master("local")\
        .appName("test")\
            .getOrCreate()
            
data= [
    ('James','','Smith','1991-04-01','M',3000),
    ('Anna','Rose','Wilson','1992-04-01','F',4000),
    ('Peter','George','Williams','1993-04-01','M',5000),
    ('Linda','Rose','Williams','1994-04-01','F',6000)
]

columns = ["firstname", "middlename","lastname","dob","gender","salary"]

df = spark.createDataFrame(data = data, schema=columns)

print(df.printSchema())

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

None